<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Accounts || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <%= config.name %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home"><span class="bi bi-house"></span>
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pirep"><span
                                class="bi bi-file-earmark-plus"></span> PIREP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news"><span class="bi bi-newspaper"></span> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events"><span class="bi bi-calendar-event"></span> Events</a>
                    </li>

                </ul>
                <ul class="navbar-nav mb-2 float-end me-5 mb-lg-0">
                    <% if(user.admin){%>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item active" aria-current="page" href="/admin/accounts">Accounts</a></li>
                                <li><a class="dropdown-item" href="/admin/events">Events</a></li>
                                <li><a class="dropdown-item" href="/admin/pireps">Pireps</a></li>
                                <li><a class="dropdown-item" href="/admin/news">News</a></li>
                                <li><a class="dropdown-item" href="/admin/vacenter">Settings</a></li>
                            </ul>
                        </li>
                        <%}%>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user.name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/account">Account</a></li>
                                    <li><a class="dropdown-item text-danger" href="/report">Report a bug</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="w-100 h-auto p-5 text-center">
            <h1>Accounts</h1>
            <hr class="w-75 mx-auto">
            <form class="w-75 px-5 mx-auto form-control py-3" action="/admin/reqs/newUser" method="POST" onsubmit="document.getElementById('CPWCheck').removeAttribute('disabled'); return true;">
                <h2>Create new account</h2>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><%= config.code%></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" required
                        aria-describedby="basic-addon1" name="username">
                </div>
                <input type="text" class="form-control mb-3" placeholder="Name" required aria-label="Name" name="Name">
                <input type="password" class="form-control" placeholder="Password" required aria-label="Password" aria-describedby="basic-addon1"
                    name="password">
                <div class="form-check mt-3 text-start">
                    <input class="form-check-input" type="checkbox" value="yespls" checked disabled name="CPW" id="CPWCheck">
                    <label class="form-check-label" for="flexCheckDefault">
                        Require Password Change on login
                    </label>
                </div>
                <div class="form-check mt-3 text-start">
                    <input class="form-check-input" type="checkbox" value="true" name="admin" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Admin
                    </label>
                    <p><strong>CAREFUL:</strong> This is a dangerous permission to grant.</p>
                </div>
                <button class="btn btn-primary">Create</button>
            </form>
            <div class='form-control w-75 mx-auto px-5 py-3'>
                <h2>Current Accounts</h2>
                <br>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Revoke</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(LUser =>{ %>
                            <tr <%if(LUser.revoked){%>class="disabled text-dark" disabled style="background-color: rgba(255, 0,0, 0.3);"<% }%> >
                                <th scope="row"><%= Buffer.from(LUser.username, 'base64').toString(); %></th>
                                <td><%= LUser.name %></td>
                                <td><i class="bi bi-pencil-square" style="cursor: pointer;" onclick="window.location.href='/admin/viewUser?u=<%=LUser.username%>'"></i></td>
                                <td><% if(LUser.revoked == false){ %><i class="bi bi-x-circle" style="cursor: pointer;" onclick="revokeUser('<%= LUser.username %>')"></i><% } %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        function revokeUser(user){
            const data = `uid=${encodeURIComponent(user)}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.open("DELETE", "/admin/reqs/remUser");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
    </script>
</body>

</html>