<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Events || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <%- include("./../components/nav.ejs")%>
    <div class="w-100 h-auto px-2 px-lg-5 text-center pt-4" id="content">
        <i class="display-1 bi bi-calendar-event"></i>
        <h1 class="display-2 mt-1">Events</h1>
        <br>
        <form class="w-75 px-2 px-lg-5 mx-auto form-control py-3" action="/admin/reqs/newEvent" method="POST">
            <h2>Create new event</h2>
            <br>
            <input type="text" class="form-control mb-3" placeholder="Title" required aria-label="Title" name="title">
            <textarea class="form-control rounded w-100 mb-3 p-2" name="desc" placeholder="Description"></textarea>
            <input type="text" class="form-control mb-3" placeholder="Departure ICAO" required aria-label="Departure ICAO" name="depAir">
            <input type="text" class="form-control mb-3" placeholder="Arrival ICAO" required aria-label="Arrival ICAO" name="arrAir">
            <label class="text-start w-100">
                <p class="text-dark">Departure Time</p>
            <input type="datetime-local" class="form-control mb-3" required name="depTime">
            <p class="form-text">Give answer in zulu</p>
            </label>
            <label class="text-start w-100">
                <p class="text-dark">Aircraft</p>
                <select class="form-select mb-3" required name="aircraft">
                    <% craft.forEach(vic=>{%>
                        <option value="<%= vic.livID %>"><%= vic.publicName %></option>
                    <%})%>
                </select>
            </label>
            <label class="text-start w-100">
                <p class="text-dark">Server</p>
                <select class="form-select mb-3" required name="server">
                    <option value="Casual">Casual</option>
                    <option value="Training">Training</option>
                    <option value="Expert">Expert</option>
                </select>
            </label>
            <label class="text-start w-100">
                <p class="text-dark">Gate Names</p>
                <p class="fs-6 text-muted"><strong>Note:</strong> Please format like so, with commas seperating gates and no gaps: <i>Gate1,Gate2,Gate3</i></p>
                <textarea name="gates" class="form-text w-100 mt-1 mb-4 p-2 text-dark">Gate1,Gate2,Gate3</textarea>
            </label>
            <button class="btn btn-primary">Create</button>
            <br><br>
        </form>
        <div class='form-control w-75 mx-auto px-3 px-lg-5 py-3'>
            <h2>Current Events</h2>
            <p>Please note, on small devices you can scroll left and right to view more information.</p>
            <br>
            <div class="table-responsive">
            <table class="table table-striped text-center rounded">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach(event => { %>
                        <tr class="eventRows">
                            <th scope="row">
                                <%= event.title %>
                            </th>
                            <td>
                                <a class="btn btn-primary" href="/admin/viewEvent?id=<%= Buffer.from(event.id).toString(`base64`) %>"><i class="bi bi-pencil"></i></a>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="remEvent('<%= Buffer.from(event.id).toString(`base64`) %>')"><i class="bi bi-x-circle"></i></button>
                            </td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <%- include("./../components/dark.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        function remEvent(id) {
            const data = `id=${encodeURIComponent(id)}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.open("DELETE", "/admin/reqs/remEvent");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
    </script>
</body>

</html>