<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PIREPS || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <%- include("./../components/nav.ejs")%>
    <div class="w-100 h-auto py-5 px-2 px-lg-5 text-center" id="content">
        <i class="display-1 bi bi-file-earmark-plus"></i>
        <h1 class="display-2 mt-1">PIREPS</h1>
        <br>
        <ul class="nav nav-tabs d-none d-md-flex border-bottom border-light text-center mb-4" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab active" id="pirep-tab" data-bs-toggle="tab" data-bs-target="#pirep" type="button"
                    role="tab" aria-controls="pirep" aria-selected="true">Filed PIREPS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="aircraft-tab" data-bs-toggle="tab" data-bs-target="#aircraft" type="button" role="tab"
                    aria-controls="aircraft" aria-selected="false">Aircraft</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="airlines-tab" data-bs-toggle="tab" data-bs-target="#airlines" type="button" role="tab"
                    aria-controls="airlines" aria-selected="false">Codeshare</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="routes-tab" data-bs-toggle="tab" data-bs-target="#routes" type="button" role="tab"
                    aria-controls="routes" aria-selected="false">Routes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="ranks-tab" data-bs-toggle="tab" data-bs-target="#ranks" type="button" role="tab"
                    aria-controls="ranks" aria-selected="false">Ranks</button>
            </li>
        </ul>
        <ul class="nav nav-pills d-flex d-md-none text-center mb-4 border-bottom border-1 pb-1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pirep-tab" data-bs-toggle="tab" data-bs-target="#pirep" type="button"
                    role="tab" aria-controls="pirep" aria-selected="true">Filed PIREPS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="aircraft-tab" data-bs-toggle="tab" data-bs-target="#aircraft" type="button"
                    role="tab" aria-controls="aircraft" aria-selected="false">Aircraft</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="airlines-tab" data-bs-toggle="tab" data-bs-target="#airlines" type="button"
                    role="tab" aria-controls="airlines" aria-selected="false">Codeshare</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="routes-tab" data-bs-toggle="tab" data-bs-target="#routes" type="button" role="tab"
                    aria-controls="routes" aria-selected="false">Routes</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pirep" role="tabpanel" aria-labelledby="pirep-tab">
                <h2>Current PIREPS</h2>
                <br>
                <div class="table-responsive" id="PIREPTable">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Pilot</th>
                                <th scope="col">Aircraft</th>
                                <th scope="col">Airline</th>
                                <th scope="col">Route</th>
                                <th scope="col">Departure Date</th>
                                <th scope="col">Fuel Used</th>
                                <th scope="col">Flight Time</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pireps.forEach(pirep=>{ %>
                                <tr 
                                    class="pirepRow <% if(pirep.status == 'a'){%>bg-success text-light<%}%> <%if(pirep.status == 'd'){%> bg-danger text-light<%}%>">
                                    <td>
                                        <%= pirep.pilot.name %>
                                    </td>
                                    <td>
                                        <%= pirep.vehiclePublic %>
                                    </td>
                                    <td>
                                        <%= pirep.airline %>
                                    </td>
                                    <td>
                                        <%= pirep.route %>
                                    </td>
                                    <td>
                                        <%- new Date(pirep.departureT).toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= pirep.fuel %>kg
                                    </td>
                                    <td>
                                        <%= pirep.flightTime %>
                                    </td>
                                    <td>
                                        <p style="max-width: 500px; width:auto; word-wrap: break-word">
                                            <%= pirep.comments %>
                                        </p>
                                    </td>
                                    <td>
                                        <% if(pirep.status=="n" ){%>
                                            <button class="btn btn-success my-1" onclick="aprPirep('<%= pirep.id %>')"><i
                                                    class="bi bi-check-circle"></i></button>
                                            <button class="btn btn-danger my-1" onclick="remPirep('<%= pirep.id %>')"><i
                                                    class="bi bi-x-circle"></i></button>
                                            </p>
                                            <%}else{%>
                                                <p>Already Actioned</p>
                                                <%}%>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="aircraft" role="tabpanel" aria-labelledby="aircraft-tab">
                <h2>Current Aircraft</h2>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% craft.forEach(vehicle=>{%>
                                <tr class="pirepRow">
                                    <td scope="row">
                                        <%= vehicle.publicName %>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" onclick="remData('c', '<%= vehicle.livId %>')"><i
                                                class="bi bi-x-circle"></i></button>
                                    </td>
                                </tr>
                                <%})%>
                
                
                        </tbody>
                    </table>
                </div>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Aircraft
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Aircraft</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/reqs/newData?t=c">
                                    <label class="form-label">Aircraft
                                        <select class="form-select" id="newAirAirSel" name="airID" onchange="loadAircraftLivData()">
                                            <% listAircraft.forEach(obj=>{%>
                                                <option value='<%=obj.id%>'>
                                                    <%= obj.name %>
                                                </option>
                                                <%})%>
                                        </select>
                                    </label><br>
                                    <label class="form-label">Livery
                                        <select class="form-select" id="newAirLivSel" name="livID">
                                            <option value="">Waiting Selection</option>
                                        </select>
                                    </label><br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="airlines" role="tabpanel" aria-labelledby="airlines-tab">
                <h2>Current Codeshare</h2>
                <br>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ops.forEach(airline=>{%>
                            <tr class="pirepRow">
                                <td scope="row">
                                    <%= airline.name %>
                                </td>
                                <td>
                                    <button class="btn <%if(airline.id != 'MAIN'){%> btn-danger"
                                        onclick="remData('a', '<%= airline.id %>')">
                                        <%}else{%> btn-secondary" style="cursor: not-allowed"><%}%><i class="bi bi-x-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <%})%>
                
                
                    </tbody>
                </table>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=a">
                    <h2>New Codeshare</h2>
                    <input type="text" class="form-control" name="airName" placeholder="Name: EG ('CODESHARE: Alitalia Virtual')">
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="tab-pane fade" id="routes" role="tabpanel" aria-labelledby="routes-tab">
                <h2>Current Routes</h2>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=r">
                    <h2>New Route</h2>
                    <input type="text" class="form-control" name="routeName" placeholder="Name: EG ('<%= config.code %>0001')">
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
                <br>
                <table class="table table-striped text-center" id="RoutesTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% routes.forEach(route=>{%>
                            <tr class="pirepRow">
                                <td scope="row">
                                    <%= route.name %>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="remData('r', '<%= route.id %>')"><i
                                            class="bi bi-x-circle"></i></button>
                                </td>
                            </tr>
                            <%})%>
                
                
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="ranks" role="tabpanel" aria-labelledby="ranks-tab">
                <h2>Current Ranks</h2>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=ra">
                    <h2>New Rank</h2>
                    <label class="form-label mb-3">
                    <strong>Name:</strong>
                    <input type="text" class="form-control" name="name" placeholder="Cadet">
                    </label>
                    <label class="form-label mb-3">
                    <strong>Minimum Hours:</strong>
                    <input type="number" class="form-control" name="min" placeholder="0">
                    </label>
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
                <br>
                <table class="table table-striped text-center" id="RanksTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Min Hours</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ranks.forEach(rank=>{%>
                            <tr class="pirepRow">
                                <td scope="row">
                                    <%= rank.name %>
                                </td>
                                <td>
                                    <%= rank.minH %>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="remData('ra', '<%= rank.name %>')"><i
                                            class="bi bi-x-circle"></i></button>
                                </td>
                            </tr>
                            <%})%>
            
            
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        
    </div>
    <%- include("./../components/dark.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        const times = Array.from(document.getElementsByClassName('loadInBTZ'));
            times.forEach(timeEl => {
                const time = new Date(timeEl.innerHTML)
                timeEl.innerHTML = time.toString();
            })
        function remData(type, id){
            const data = `id=${id}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                console.log(this)
                if (this.readyState === this.DONE) {
                    console.log(this.responseText);
                }
            });

            xhr.open("DELETE", `/admin/reqs/remData?t=${type}`);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }

        function aprPirep(id){
            const data = `id=${id}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                console.log(this)
                if (this.readyState === this.DONE) {
                    console.log(this.responseText);
                }
            });

            xhr.open("POST", `/admin/reqs/newData?t=p`);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
        function remPirep(id) {
                const data = `id=${id}`;

                const xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    console.log(this)
                    if (this.readyState === this.DONE) {
                        console.log(this.responseText);
                    }
                });

                xhr.open("DELETE", `/admin/reqs/remData?t=p`);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.send(data);
                setTimeout(() => {
                    window.location.reload();
                }, 1500);
            }
            function loadAircraftLivData(){
                const airID = document.getElementById("newAirAirSel").value;
                document.getElementById("newAirLivSel").innerHTML = "<option selected value='' disabled>Loading...</option>"
                const data = null;

                const xhr = new XMLHttpRequest();

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === this.DONE) {
                        console.log(this)
                        if(this.status == 200){
                            const data = JSON.parse(this.responseText).result;
                            document.getElementById("newAirLivSel").innerHTML = "";
                            data.forEach(liv=>{
                                const el = document.createElement("option")
                                el.value = liv.liveryID;
                                el.innerHTML = liv.liveryName;
                                document.getElementById("newAirLivSel").appendChild(el)
                            })
                        } else {
                            alert(this.status)
                        }
                    }
                });

                xhr.open("GET", `/getLivData?liv=${airID}`);

                xhr.send(data);
            }
            loadAircraftLivData()
    </script>
    
</body>

</html>