<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PIREPS || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <%= config.name %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home"><span class="bi bi-house"></span>
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pirep"><span class="bi bi-file-earmark-plus"></span> PIREP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news"><span class="bi bi-newspaper"></span> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events"><span class="bi bi-calendar-event"></span> Events</a>
                    </li>

                </ul>
                <ul class="navbar-nav mb-2 float-end me-5 mb-lg-0">
                    <% if(user.admin){%>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        href="/admin/accounts">Accounts</a></li>
                                <li><a class="dropdown-item" href="/admin/events">Events</a></li>
                                <li><a class="dropdown-item active" aria-current="page" href="/admin/pireps">Pireps</a></li>
                                <li><a class="dropdown-item" href="/admin/news">News</a></li>
                                <li><a class="dropdown-item" href="/admin/vacenter">Settings</a></li>
                            </ul>
                        </li>
                        <%}%>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user.name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/account">Account</a></li>
                                    <li><a class="dropdown-item text-danger" href="/report">Report a bug</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="w-100 h-auto p-5 text-center">
        <h1>PIREPS</h1>
        <hr class="w-75 mx-auto">
        <div class='form-control w-75 mx-auto px-5 py-3'>
            <h2>Current PIREPS</h2>
            <p>Times given in your TZ</p>
            <br>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Pilot</th>
                        <th scope="col">Aircraft</th>
                        <th scope="col">Airline</th>
                        <th scope="col">Route</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Arrival Time</th>
                        <th scope="col">Flight Time</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <% pireps.forEach(pirep =>{ %>
                        <tr class="<% if(pirep.status == 'a'){%>bg-success text-light<%}%> <%if(pirep.status == 'd'){%> bg-danger text-light<%}%>">
                            <td>
                                <%= pirep.pilot.name %>
                            </td>
                            <td>
                                <%= pirep.vehicle %>
                            </td>
                            <td>
                                <%= pirep.airline %>
                            </td>
                            <td>
                                <%= pirep.route %>
                            </td>
                            <td class="loadInBTZ">
                                <%- new Date(pirep.departureT) %>
                            </td>
                            <td class="loadInBTZ">
                                <%- new Date(pirep.arrivalT) %>
                            </td>
                            <td>
                                <%= pirep.flightTime %>
                            </td>
                            <td>
                                <%= pirep.comments %>
                            </td>
                            <td>
                                <% if(pirep.status == "n"){%>
                                    <i class="bi bi-check-circle text-success" style="cursor: pointer;" onclick="aprPirep('<%= pirep.id %>')"></i>
                                    <i class="bi bi-x-circle text-danger" style="cursor: pointer;" onclick="remPirep('<%= pirep.id %>')"></i>
                                <%}%>
                            </td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <div class="w-100 h-auto p-5 text-center">
            <h1>PIREP Options</h1>
            <hr class="w-75 mx-auto">
            <div class='form-control w-75 mx-auto px-5 mt-3 py-3'>
                <h2>Current Aircraft</h2>
                <br>
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <% craft.forEach(vehicle =>{%>
                        <tr>
                            <td scope="row"><%= vehicle.name %></td>
                            <td>
                                <i class="bi bi-x-circle text-danger" style="cursor: pointer;" onclick="remData('c', '<%= vehicle.id %>')"></i>
                            </td>
                        </tr>
                    <%})%>
                    
                    
                </tbody>
                </table>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=c">
                    <h2>New Aircraft</h2>
                    <input type="text" class="form-control" name="vicName" placeholder="Name: EG ('B738')">
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class='form-control w-75 mx-auto px-5 mt-3 py-3'>
                <h2>Current Airlines</h2>
                <br>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ops.forEach(airline=>{%>
                            <tr>
                                <td scope="row">
                                    <%= airline.name %>
                                </td>
                                <td>
                                    <i class="bi bi-x-circle <%if(airline.id != 'MAIN'){%>text-danger" style="cursor: pointer;"<%}else{%>text-secondary disabled" disabled style="cursor: not-allowed;"<%}%> 
                                        <% if(airline.id != 'MAIN'){%>onclick="remData('a', '<%= airline.id %>')"<%}%></i>
                                </td>
                            </tr>
                            <%})%>
            
            
                    </tbody>
                </table>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=a">
                    <h2>New Airline</h2>
                    <input type="text" class="form-control" name="airName" placeholder="Name: EG ('CODESHARE: Alitalia Virtual')">
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class='form-control w-75 mx-auto px-5 mt-3 py-3'>
                <h2>Current Routes</h2>
                <br>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% routes.forEach(route=>{%>
                            <tr>
                                <td scope="row">
                                    <%= route.name %>
                                </td>
                                <td>
                                    <i class="bi bi-x-circle text-danger" style="cursor: pointer;" onclick="remData('r', '<%= route.id %>')"></i>
                                </td>
                            </tr>
                            <%})%>
            
            
                    </tbody>
                </table>
                <br>
                <form class="halfBgFullSm mx-auto h-auto" method="POST" action="/admin/reqs/newData?t=r">
                    <h2>New Route</h2>
                    <input type="text" class="form-control" name="routeName" placeholder="Name: EG ('<%= config.code %>0001')">
                    <br>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        const times = Array.from(document.getElementsByClassName('loadInBTZ'));
            times.forEach(timeEl => {
                const time = new Date(timeEl.innerHTML)
                timeEl.innerHTML = time.toString();
            })
        function remData(type, id){
            const data = `id=${id}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                console.log(this)
                if (this.readyState === this.DONE) {
                    console.log(this.responseText);
                }
            });

            xhr.open("DELETE", `/admin/reqs/remData?t=${type}`);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }

        function aprPirep(id){
            const data = `id=${id}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                console.log(this)
                if (this.readyState === this.DONE) {
                    console.log(this.responseText);
                }
            });

            xhr.open("POST", `/admin/reqs/newData?t=p`);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
        function remPirep(id) {
                const data = `id=${id}`;

                const xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    console.log(this)
                    if (this.readyState === this.DONE) {
                        console.log(this.responseText);
                    }
                });

                xhr.open("DELETE", `/admin/reqs/remData?t=p`);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.send(data);
                setTimeout(() => {
                    window.location.reload();
                }, 1500);
            }
    </script>
    
</body>

</html>