<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%- include("./../components/head.ejs")%>
</head>

<body class="w-100 bg-light-light h-auto">
    <%- include("./../components/nav.ejs")%>
        <div class="w-100 content bg-light-light px-5 py-3" id="content">
            <h2>Routes</h2>
            <p class="text-muted">Click on a route to see more.</p>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Aircraft</th>
                            <th scope="col">Flight Time</th>
                            <th scope="col">Operator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% routes.forEach(route=>{%>
                            <tr style="cursor: pointer;"
                                data-bs-toggle="modal" data-bs-target="#modal-<%=route.id%>">
                                    <th scope="row">
                                        <%= config.code + route.num %>
                                    </th>
                                    <td>
                                        <%= route.aircraftPublic %>
                                    </td>
                                    <td>
                                        <%= route.ft %>
                                    </td>
                                    <td>
                                        <%= route.operatorPublic %>
                                    </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Route
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Route</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/routes/new" id="nrform">
                                    <h2>Create new route</h2>
                                    <br>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <%= config.code%>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Route Number" aria-label="Username" required=""
                                            aria-describedby="basic-addon1" name="num">
                                    </div>
                                    <label class="form-label">Aircraft</label>
                                    <select class="form-select mb-3" name="aircraft">
                                        <% craft.forEach(vic=>{%>
                                            <option value="<%= vic.livID%>"><%= vic.publicName%></option>    
                                        <%})%>
                                    </select>
                                    <label class="form-label">Flight Time<span style="font-size:12px"> (minutes, aprox)</span></label>
                                    <input type="number" class="form-control mb-3" placeholder="Flight Time (mins)" required="" aria-label="Flight Time"
                                        name="ft">
                                    <label class="form-label">Departure ICAO</label>
                                    <input type="text" class="form-control mb-3" placeholder="YSSY" required="" aria-label="ICAO Departure"
                                        name="depIcao">
                                    <label class="form-label">Arrival ICAO</label>
                                    <input type="text" class="form-control mb-3" placeholder="YMML" required="" aria-label="ICAO Arrival" name="arrIcao">
                                    <label class="form-label">Operator</label>
                                    <select class="form-select mb-3" name="op">
                                        <% ops.forEach(op=>{%>
                                            <option value="<%= op.id%>">
                                                <%= op.operator%>
                                            </option>
                                            <%})%>
                                    </select>
                                    <label class="form-label">Departure Slots</label>
                                    <br>
                                    <div id="departureSlots">

                                    </div>
                                    <button class="btn btn-success mb-3 ms-1" type="button" onclick="addDepSlot()">Add Time</button>
                                    <br>
                                    <label class="form-label text-muted">Minimum Rank</label>
                                    <select class="form-select" name="minH">
                                        <% ranks.forEach(rank =>{%>
                                            <option value="<%= rank.minH%>"><%= rank.rank%></option>    
                                        <%})%>
                                    </select>
                                    <br>
                                    <button class="btn btn-primary">Create</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% routes.forEach(route=>{%>
                <div class="modal fade" id="modal-<%= route.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Route Manager</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/routes/update">
                                    <h2>Modify <%=config.code + route.num%></h2>
                                    <br>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <%= config.code%>
                                        </span>
                                        <input type="text" class="form-control text-secondary" placeholder="Route Number" aria-label="Username" required=""
                                            aria-describedby="basic-addon1" name="num" value="<%= route.num%>" readonly>
                                    </div>
                                    <label class="form-label">Aircraft</label>
                                    <select class="form-select mb-3" value="<%= route.aircraft%>" name="aircraft">
                                        <% craft.forEach(vic=>{%>
                                            <option value="<%= vic.livID%>">
                                                <%= vic.publicName%>
                                            </option>
                                            <%})%>
                                    </select>
                                    <label class="form-label">Flight Time<span style="font-size:12px"> (minutes, aprox)</span></label>
                                    <input type="number" class="form-control mb-3" placeholder="Flight Time (mins)" required="" aria-label="Flight Time"
                                        name="ft" value="<%= route.ft%>">
                                    <label class="form-label">Operator</label>
                                    <select class="form-select mb-3" name="op" value="<%= route.operator %>">
                                        <% ops.forEach(op=>{%>
                                            <option value="<%= op.id%>">
                                                <%= op.operator%>
                                            </option>
                                            <%})%>
                                    </select>
                                    <label class="form-label">Departure ICAO</label>
                                    <input type="text" class="form-control mb-3" placeholder="YSSY" required="" aria-label="ICAO Departure" name="depIcao" value="<%= route.depICAO%>">
                                    <label class="form-label">Arrival ICAO</label>
                                    <input type="text" class="form-control mb-3" placeholder="YMML" required="" aria-label="ICAO Arrival" name="arrIcao" value="<%= route.arrICAO%>">
                                    <input type="hidden" value="<%= route.id%>" name="id">
                                    <button class="btn btn-primary">Update</button>
                                    <button class="btn btn-danger" type="button" onclick="remRoute('<%= route.id%>')">Remove</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
        <%- include('./../components/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            
        <script>
            function remRoute(id) {
                    const data = `id=${id}`;
                    const xhr = new XMLHttpRequest();
                    xhr.withCredentials = true;
                    xhr.addEventListener("readystatechange", function () {
                        console.log(this)
                        if (this.readyState === this.DONE) {
                            console.log(this.responseText);
                        }
                    });
                    xhr.open("DELETE", `/admin/routes/remove`);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.send(data);
                    setTimeout(() => {
                        window.location.reload();
                    }, 1500);
                }
                let slotCounter = 0;
                function addDepSlot(){
                    
                    const time = prompt("Enter depature time (HH:MM) zulu time.")
                    if(time){
                        if(time[2] == ":" && time.length == 5){
                            const element = document.createElement("input");
                            element.name = `slot_${slotCounter++}`;
                            element.value = `${time}z`
                            element.classList.add('form-control');
                            element.classList.add('w-auto');
                            element.classList.add('m-2');
                            element.setAttribute('readonly', 'true')
                            document.getElementById('departureSlots').appendChild(element);
                        }
                    }
                }
        </script>
                <script>
                    document.addEventListener('load', () => {
                        document.getElementById("nrform").on("keypress", function (event) {
                            var keyPressed = event.keyCode || event.which;
                            if (keyPressed === 13) {
                                event.preventDefault();
                                return false;
                            }
                        });
                    })
                </script>
</body>

</html>