<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%- include("./../components/head.ejs")%>
</head>

<body class="w-100 bg-light-light h-auto">
    <%- include("./../components/nav.ejs")%>
        <div class="w-100 content bg-light-light px-3 px-md-5 py-3" id="content">
            <h2>Updates</h2>
            <hr>
            <span><strong>Current Version:</strong> <%= cv%></span>
            <br><br>
            <p id="statusTitle" class="fw-bold"></p>
            <div class="form-control px-3 px-md-5 py-3 h-auto w-100" id="updateContainer">
                <p class="fw-bold mt-2" id="statusStatus">Getting Updates, standby</p>
            </div>
            <br>
            <h2>Customisation</h2>
            <hr>

            <div class="form-control shadow p-3 my-3">
                <form action="/admin/settings/accent" method="post">
                    <h4>Accent Color</h4>
                    <input type="radio" class="btn-check" name="accent" value="primary" id="primary" autocomplete="off">
                    <label class="btn btn-primary my-2" for="primary">Blue</label>
                    <input type="radio" class="btn-check" name="accent" value="secondary" id="secondary" autocomplete="off">
                    <label class="btn btn-secondary my-2" for="secondary">Grey</label>
                    <input type="radio" class="btn-check" name="accent" value="danger" id="danger" autocomplete="off">
                    <label class="btn btn-danger my-2" for="danger">Red</label>
                    <input type="radio" class="btn-check" name="accent" value="success" id="success" autocomplete="off">
                    <label class="btn btn-success my-2" for="success">Green</label>
                    <input type="radio" class="btn-check" name="accent" value="warning" id="warning" autocomplete="off">
                    <label class="btn btn-warning my-2" for="warning">Yellow</label>
                    <input type="radio" class="btn-check" name="accent" value="light" id="light" autocomplete="off">
                    <label class="btn btn-light my-2" for="light">White</label>
                    <input type="radio" class="btn-check" name="accent" value="dark" id="dark" autocomplete="off">
                    <label class="btn btn-dark my-2" for="dark">Dark</label>
                    <br><br>
                    <button class="btn btn-primary" type="submit">Submit new Color</button>
                </form>
            </div>
            <div class="form-control shadow p-3 my-3">
                <form action="/admin/settings/bg" method="post">
                <h4>Background URL</h4>
                <input class="form-control" type="url" name="value" id="fill1" value="<%= config.other.bg == "/public/images/stockBG2.jpg" ? "" : config.other.bg %>"><br>
                <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="form-control shadow p-3 my-3">
                <form action="/admin/settings/logo" method="post">
                <h4>Logo URL</h4>
                <input class="form-control" type="url" name="value" value="<%= config.other.logo%>"><br>
                <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="form-control shadow p-3 my-3">
                <form action="/admin/settings/pirepPic" method="post">
                    <h4>PIREP Pictures</h4>
                    <p>Allow Pilots to submit pictures of their Flights. <% if(hosting){%><span class="text-muted">This feature is disabled since you are on VACenter Standard Plan.</span><%}%></p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="state" <% if(config.other.pirepPic == true){%>checked<%}%> <% if(hosting){%>disabled<%}%>>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Allow Pictures</label>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= store[0] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= store[0]%>%"></div>
                    </div>
                    <br>
                    <span>Storage Used (<%= store[1]%>/<%=store[2]%>)</span><br>
                    <hr>
                    <label>Pireps will be removed <input step="any" type="number" class="d-inline-block form-control w-auto" name="imgExpireDays" value="<%=(((((config.other.pirepPicExpire)/1000)/60)/60)/24)%>"> days after the PIREP has been approved/denied.</label>
                    <br><br>
                    <button type="submit" <% if(hosting){%>disabled<%}%> class="btn btn-primary">Update</button>
                </form>
            </div>
            <br>
            <h2>3rd Party</h2>
            <hr>
            <div class="form-control shadow p-3 my-3">
                <h4>Identifier</h4>
                <p>Used for external identification. (IF Experiment Bot, etc)</p>
                <span style="word-wrap: break-word;"><strong>Ident: </strong><%= config.other.ident%></span>
            </div>
        </div>
        <%- include('./../components/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Mr`cW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function isValidHttpUrl(string) {
                    let url;

                    try {
                        url = new URL(string);
                    } catch (_) {
                        return false;
                    }

                    return url.protocol === "http:" || url.protocol === "https:";
                }
            const currentVersionFull = "<%= cv %>"
            console.log(currentVersionFull);
            const currentVersionNum = currentVersionFull.slice(0, -1);
            const currentVersionBranchInd = currentVersionFull.charAt(currentVersionFull.length - 1);
            const currentVersionBranch = currentVersionBranchInd == "B" ? "beta": (currentVersionBranchInd == "M" ? "master": null);

            function getMissingVersions(){
                //Get Versions
                const data = null;

                const xhr = new XMLHttpRequest();
                xhr.withCredentials = false;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === this.DONE) {
                        const body = JSON.parse(this.responseText);
                        console.log(body.branches);
                        console.log(currentVersionBranch)
                        const branchData = body.branches[currentVersionBranch];
                        console.log(branchData)
                        const releases = branchData.releases;
                        let min = 0;
                        Object.entries(releases).forEach(([key, value]) => {
                            console.log(key)
                            if(compareVersion(currentVersionNum, key) == -1){
                                min ++;
                                const container = document.createElement("div");
                                const title = document.createElement("h3");
                                const desc = document.createElement("p");

                                container.className = "form-control p-3 w-100 my-2 shadow";
                                
                                title.innerHTML = value.title ? value.title : "Unknown Title"
                                desc.innerHTML = value.desc ? `<strong>V${key}${currentVersionBranchInd}</strong><br>` + value.desc : `<strong>V${key}${currentVersionBranchInd}</strong><br>No Description Found` 

                                container.appendChild(title);
                                container.appendChild(desc);

                                document.getElementById("updateContainer").appendChild(container);
                            }
                            
                        })
                        if(min == 0){
                            document.getElementById("statusStatus").innerHTML = "No Updates Avaliable"
                        }else{
                            document.getElementById("statusStatus").remove()
                            document.getElementById("statusTitle").innerHTML = "New Update Available:<hr><button class='btn btn-outline-primary' onclick='sendUpdate()'>Update</button>"
                        }
                    }
                });

                xhr.open("GET", "https://admin.va-center.com/updateFile");

                xhr.send(data);
            }
            function compareVersion(a, b) {
                    let x = a.split('.').map(e => parseInt(e));
                    let y = b.split('.').map(e => parseInt(e));
                    let z = "";

                    for (i = 0; i < x.length; i++) {
                        if (x[i] === y[i]) {
                            z += "e";
                        } else
                            if (x[i] > y[i]) {
                                z += "m";
                            } else {
                                z += "l";
                            }
                    }
                    if (!z.match(/[l|m]/g)) {
                        return 0;
                    } else if (z.split('e').join('')[0] == "m") {
                        return 1;
                    } else {
                        return -1;
                    }
                }
                getMissingVersions()
            function sendUpdate() {
                        swal({
                            title: "Are you sure you want to update?",
                            text: "This can take around 30 seconds, the server will be restarted.  (To confirm type: Yes)",
                            content: "input",
                            icon: "warning",
                            button: {
                                text: "Update",
                                closeModal: false
                            },
                            dangerMode: true,
                        }).then((willUpdate) => {
                                if (willUpdate == "Yes") {
                                    const data = null;

                                    const xhr = new XMLHttpRequest();
                                    xhr.withCredentials = true;

                                    xhr.addEventListener("readystatechange", function () {
                                        if (this.readyState === this.DONE) {
                                            if(this.status == 202){
                                                swal({
                                                    title: "Success!",
                                                    text: "Updated! Please standby. This should take 30 seconds, the window will then reload.",
                                                    icon: "success",
                                                    showConfirmButton: false,
                                                    showCancelButton: false
                                                });
                                                setTimeout(() => {
                                                    window.location.reload();
                                                }, 30000);
                                            }else{
                                                swal({
                                                    title: "Update Failed!",
                                                    text: this.responseText,
                                                    icon: "error",
                                                    buttons: true
                                                })
                                            }
                                            
                                        }
                                    });

                                    xhr.open("POST", "/admin/settings/update");
                                    xhr.send(data);
                                    
                                } else {
                                    swal("Aborted update");
                                }
                            });
                    }
                
        </script>
</body>

</html>