<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Settings || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <%- include("./../components/nav.ejs")%>
    <div class="w-100 h-auto p-5 text-center" id="content">
        <i class="display-1 bi bi-gear"></i>
        <h1 class="display-2 mt-1">Settings</h1>
        <br>
        <ul class="nav nav-tabs d-none d-md-flex text-center mb-4" id="myTab" role="tablist">
            <hr>
            <hr class="text-dark">
            <li class="nav-item" role="presentation" style="margin-bottom: 1px;">
                <button class="nav-link active pirepTab" id="update-tab" data-bs-toggle="tab" data-bs-target="#update" type="button"
                    role="tab" aria-controls="update" aria-selected="true">Updater</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="custom-tab" data-bs-toggle="tab" data-bs-target="#custom" type="button"
                    role="tab" aria-controls="custom" aria-selected="false">Customisation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link pirepTab" id="logs-tab" data-bs-toggle="tab" data-bs-target="#logs" type="button"
                    role="tab" aria-controls="logs" aria-selected="false">Logs</button>
            </li>
        </ul>
        <ul class="nav nav-pills d-flex d-md-none text-center mb-4 border-bottom border-1 pb-1" id="myTab" role="tablist">
            <hr>
            <hr class="text-dark">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="update-tab" data-bs-toggle="tab" data-bs-target="#update" type="button"
                    role="tab" aria-controls="update" aria-selected="true">Updater</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="custom-tab" data-bs-toggle="tab" data-bs-target="#custom" type="button" role="tab"
                    aria-controls="custom" aria-selected="false">Customisation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="logs-tab" data-bs-toggle="tab" data-bs-target="#logs" type="button" role="tab"
                    aria-controls="logs" aria-selected="false">Logs</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="update" role="tabpanel" aria-labelledby="update-tab">
                <h2 class="display-3">Updater</h2>
                <p><strong>Current Version: </strong>
                    <%= cv %>
                </p>
                <br>
                <button class="btn btn-primary mb-3" onclick="update()">
                    Check for updates
                </button>
                <p id="updaterStatus"></p>
            </div>
            <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
                <h2 class="display-3">Customisation</h2>
                <p>To change some other settings, please visit the VANet site, and update them there, click reload config below, and the
                    changes will be reflected.</p>
                <form class="form-control w-100 px-5 py-3" method="POST" action="/admin/reqs/newData?t=s">
                    <label>
                        <strong>Background URL:</strong>
                        <input type="url" name="bg" class="form-control mt-1" required placeholder="URL" value="<%= config.other.bg %>">
                    </label>
                    <br>
                    <label class="mt-2">
                        <strong>Rate Limiter Amounts:</strong>
                        <input type="number" name="rates" class="form-control mt-1" required placeholder="Limits"
                            value="<%= config.other.rates %>">
                    </label>
                    <br>
                    <label class="mt-2">
                        <strong>Navbar Color:</strong><br><br>
                        <div class="p-2 rounded" id="colorPickerBG" style="background-color: rgb(252, 252, 252);">
                        <input type="radio" class="btn-check" value="primary" name="navBarColor" id="primary-outlined" autocomplete="off" <% if(config.other.color[0] == "primary"){ %>checked<%}%>>
                        <label class="btn btn-outline-primary" value="primary" for="primary-outlined">Blue</label>

                        <input type="radio" class="btn-check" value="secondary" name="navBarColor" id="secondary-outlined" autocomplete="off" <% if(config.other.color[0] == "secondary"){ %>checked<%}%>>
                        <label class="btn btn-outline-secondary" value="secondary" for="secondary-outlined">Grey</label>

                        <input type="radio" class="btn-check" value="success" name="navBarColor" id="success-outlined" autocomplete="off" <% if(config.other.color[0] == "success"){ %>checked<%}%>>
                        <label class="btn btn-outline-success" value="success" for="success-outlined">Green</label>
                        
                        <input type="radio" class="btn-check" value="danger" name="navBarColor" id="danger-outlined" autocomplete="off" <% if(config.other.color[0] == "danger"){ %>checked<%}%>>
                        <label class="btn btn-outline-danger" value="danger" for="danger-outlined">Red</label>

                        <input type="radio" class="btn-check" value="warning" name="navBarColor" id="warning-outlined" autocomplete="off" <% if(config.other.color[0] == "warning"){ %>checked<%}%>>
                        <label class="btn btn-outline-warning" value="warning" for="warning-outlined">Yellow</label>

                        <input type="radio" class="btn-check" value="info" name="navBarColor" id="info-outlined" autocomplete="off" <% if(config.other.color[0] == "info"){ %>checked<%}%>>
                        <label class="btn btn-outline-info" value="info" for="info-outlined">Aqua</label>

                        <input type="radio" class="btn-check" value="light" name="navBarColor" id="light-outlined" autocomplete="off" <% if(config.other.color[0] == "light"){ %>checked<%}%>>
                        <label class="btn btn-outline-light" value="light" for="light-outlined">Light</label>

                        <input type="radio" class="btn-check" value="dark" name="navBarColor" id="dark-outlined" autocomplete="off"  <% if(config.other.color[0] == "dark"){ %>checked<%}%>>
                        <label class="btn btn-outline-dark" value="dark" for="dark-outlined">Dark</label>
                            </div>
                    </label>
                    <br>
                    <button class="btn btn-primary mt-2">Reload Config</button>
                </form>
            </div>
            <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab"><strong>Coming Soon</strong></div>
        </div>
        
        
    </div>
    <%- include("./../components/dark.ejs")%>
    <script>
        function update(){
            const data = null;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                console.log(this)
                if (this.readyState === this.DONE) {
                    if(this.status == 202){
                        document.getElementById("updaterStatus").innerHTML = "Status: <span class='text-success'> An update was detected, installing now.</span> Please standby"
                        setTimeout(() => {
                            document.getElementById("updaterStatus").innerHTML = "Reloading. <span class='text-success'> The update has been installed. </span>"
                            setTimeout(() => {
                                window.location.reload();
                            }, 2500);
                        }, 10000);
                    }else if(this.status == 204){
                            document.getElementById("updaterStatus").innerHTML = "Status: <span class='text-secondary'>No update available.</span>"
                            setTimeout(() => {
                                document.getElementById("updaterStatus").innerHTML = ""
                            }, 2500);
                    }
                }
            });

            xhr.open("POST", `/update`);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);
            document.getElementById("updaterStatus").innerHTML = "Checking, please don't reload. <span class='text-muted'> this should take around 10 seconds </span>"
            
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>