<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Viewing <%= targetEvent.title %> || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <!--<div class="alert alert-warning d-flex align-items-center alert-dismissible fade show position-absolute w-100" role="alert" style="z-index: 100;">
        <i class="bi bi-exclamation-triangle-fill me-3 h-100 fs-3"></i>
        <div><strong>Be aware!</strong><br>These changes will not be reflected in the VANet storage.<br>Please remove this event and create a new one to store it in VANet.</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>-->
    <%- include("./../components/nav.ejs")%>
    <div class="w-100 h-auto py-5 px-2 px-lg-5 text-center" id="content">
        <i class="display-1 bi bi-calendar2-event"></i>
        <h1 class="display-2 mt-1"><%= targetEvent.title %></h1>
        <br>
        <form class="halfBgFullSm form-control mx-auto" action="/admin/reqs/updateEvent" method="POST">
            <input class="visually-hidden" value="<%= Buffer.from(targetEvent.id).toString(`base64`) %>" name="id">
                <p class="form-label">
                    Title:
                </p>
                <input type="text" class="form-control mb-3" placeholder="Title" required="" value="<%= targetEvent.title%>" aria-label="Title" name="title">
                <p class="form-label">
                    Body:
                </p>
                <textarea class="form-control rounded w-100 mb-3 p-2" name="desc" placeholder="Description"><%= targetEvent.body %></textarea>
                <p class="form-label">
                    Departure Airport:
                </p>
                <input type="text" class="form-control mb-3" placeholder="Departure ICAO" required="" aria-label="Departure ICAO"
                    name="depAir" value="<%= targetEvent.depAir %>">
                <p class="form-label">
                    Arrival Airport:
                </p>
                <input type="text" class="form-control mb-3" placeholder="Arrival ICAO" required="" aria-label="Arrival ICAO"
                    name="arrAir" value="<%= targetEvent.arrAir %>">
                <label class="text-start w-100">
                    <p class="text-dark">Departure Time</p>
                    <input type="datetime-local" class="form-control mb-3" required="" name="depTime">
                    <p class="form-text">Give answer in zulu</p>
                </label>
                <label class="text-start w-100 mb-3">
                    <p class="text-dark">Server</p>
                    <select class="form-select" name="server">
                        <option value="Expert" <% if(targetEvent.server == "Expert"){ %> selected <%}%>>Expert</option>
                        <option value="Training" <% if(targetEvent.server == "Training"){ %> selected <%}%>>Training</option>
                        <option value="Casual" <% if(targetEvent.server == "Casual"){ %> selected <%}%>>Casual</option>
                    </select>
                </label>
                <label class="text-start w-100 mb-3">
                    <p class="text-dark">Aircraft</p>
                    <select class="form-select" name="aircraft">
                        <% craft.forEach(vic =>{ %>
                            <option value="<%= vic.livID %>" <% if(vic.livID == targetEvent.air){%>selected<%}%>><%= vic.publicName %></option>
                        <%})%>
                    </select>
                </label>
                <button class="btn btn-primary">Update</button>
        </form>
    </div>
    <%- include("./../components/dark.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        function adjust(v) {
                if (v > 9) {
                    return v.toString();
                } else {
                    return '0' + v.toString();
                }
            }
            var today = new Date('<%= targetEvent.depTime.slice(0, targetEvent.depTime.length - 1) %>');
            var date = today.getFullYear() + '-' + adjust(today.getMonth() + 1) + '-' + adjust(today.getDate());
            var time = adjust(today.getHours()) + ":" + adjust(today.getMinutes());
            var dateTime = `${date}T${time}`;
            document.getElementsByName("depTime")[0].value = dateTime
            console.log(today)
            console.log(date)
            console.log(time)
            console.log(dateTime)


        function unrevokeUser(user) {
            const data = `uid=${encodeURIComponent(user)}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.open("PUT", "/admin/reqs/unremUser");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);

            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
    </script>
</body>

</html>