<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Viewing <%= config.code + Buffer.from(targetUser.username, 'base64').toString(); %> || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles/scroll.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <%= config.name %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home"><span class="bi bi-house"></span>
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pirep"><span class="bi bi-file-earmark-plus"></span> PIREP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news"><span class="bi bi-newspaper"></span> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events"><span class="bi bi-calendar-event"></span> Events</a>
                    </li>

                </ul>
                <ul class="navbar-nav mb-2 float-lg-end me-5 mb-lg-0">
                    <% if(user.admin){%>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item active" aria-current="page"
                                        href="/admin/accounts">Accounts</a></li>
                                <li><a class="dropdown-item" href="/admin/events">Events</a></li>
                                <li><a class="dropdown-item" href="/admin/pireps">PIREPS</a></li>
                                <li><a class="dropdown-item" href="/admin/news">News</a></li>
                                <li><a class="dropdown-item" href="/admin/vacenter">Settings</a></li>
                            </ul>
                        </li>
                        <%}%>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user.name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/account">Account</a></li>
                                    <li><a class="dropdown-item text-danger" href="/report">Report a bug</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="w-100 h-auto py-5 px-3 text-center">
        <i class="display-1 text-dark bi bi-person-circle"></i>
        <h1 class="display-2 mt-1">User <%= config.code + Buffer.from(targetUser.username, 'base64' ).toString(); %></h1>
        <br>
        <form class="halfBgFullSm form-control mx-auto py-2" action="/admin/reqs/updateUser" method="POST" onsubmit="document.getElementsByName('uid')[0].removeAttribute('disabled');">
            <h2>Options</h2>
            <label class="w-100 px-5 py-2 mt-2">
                <p class="form-label">
                    Username:
                </p>
            <input type="text" class="form-control form-disabled" name="uid" disabled placeholder="UID" value="<%= Buffer.from(targetUser.username, 'base64').toString(); %>">
            </label>
            <label class="w-100 px-5 py-2 mt-2">
                <p class="form-label">
                    Name:
                </p>
                <input type="text" class="form-control form-disabled" name="name" placeholder="name" value="<%= targetUser.name %>">
            </label>
            <div class="form-check mt-3 text-start px-5 specialCheckboxContainer">
                <input class="form-check-input mx-1 specialCheckbox" type="checkbox" value="true" <% if(targetUser.meta.cp == true){ %>checked disabled<%}%> name="cpwd" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Require password change next login.
                </label>
            </div><br>
            <% if(targetUser.revoked == false){ %><button class="btn btn-primary">Change</button><% } %>
            <% if(targetUser.revoked==true){ %><button class="btn btn-danger" type="button" onclick="unrevokeUser('<%= targetUser.username %>')">Unrevoke</button>
                <% } %>
        </form>
        <div class="halfBgFullSm form-control mx-auto py-2">
            <h2>Data</h2>
            <div class="text-start px-5">
            <h4>Rank:</h4>
            <p><%= targetUser.rank %></p>
            <p class="fs-6 text-muted">Please note that ranks are not calculated at this time.</p>
            <h4>Flight Hours:</h4>
            <p>
                <%= targetUser.hours %>
            </p>
            <h4>Account Information:</h4>
            <div class="px-3">
                <h5>Last Login:</h5>
                <p>
                    <%= targetUser.meta.llogin %>
                </p>
                <h5>Account Created:</h5>
                <p>
                    <%= targetUser.meta.created %>
                </p>
            </div>
            
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        function unrevokeUser(user) {
            const data = `uid=${encodeURIComponent(user)}`;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.open("PUT", "/admin/reqs/unremUser");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.send(data);

            setTimeout(() => {
                window.location.reload();
            }, 1500);
        }
    </script>
</body>

</html>