<nav class="navbar navbar-expand-lg navbar-<%= config.other.navColor[1]%> bg-<%= config.other.navColor[0]%>">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <span class="fs-6">
            <img src="<%= config.other.logo%>" alt=""
                class="d-inline-block rounded-circle" style="vertical-align: middle; width: 1.25em; height: 1.25em; margin-bottom: .15em; object-fit: cover;"> 
            <%= config.name%>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/home"){%>active" aria-current="page<%}%>" href="/home"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/newPirep"){%>active" aria-current="page<%}%>" href="/newPirep"><i class="bi bi-file-plus"></i> New PIREP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/oldPirep"){%>active" aria-current="page<%}%>" href="/oldPirep"><i class="bi bi-archive"></i> Previous Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/events"){%>active" aria-current="page<%}%>" href="/events"><i class="bi bi-calendar2"></i> Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/links"){%>active" aria-current="page<%}%>" href="/links"><i
                                class="bi bi-link"></i> Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(active == "/aboutVA"){%>active" aria-current="page<%}%>" href="/aboutVA"><i class="bi bi-bar-chart"></i> Stats</a>
                </li>
                <% if(user.admin == true){%>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <% if(locals.activer){if(activer == "/admin"){%>active" aria-current="page<%}}%>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-shield-check"></i> Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item <% if(active == "/admin/aircraft"){%> active" aria-current="page<%}%>" href="/admin/aircraft"><i class="fa fa-plane"></i> Aircraft</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/codeshare"){%> active" aria-current="page<%}%>" href="/admin/codeshare"><i class="bi bi-shop"></i> Codeshare</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/events"){%> active" aria-current="page<%}%>" href="/admin/events"><i class="bi bi-calendar2"></i> Events</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/import"){%> active" aria-current="page<%}%>" href="/admin/import"><i class="bi bi-upload"></i> Import</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/links"){%> active" aria-current="page<%}%>" href="/admin/links"><i class="bi bi-link"></i> Links</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/pireps"){%> active" aria-current="page<%}%>" href="/admin/pireps"><i class="bi bi-archive"></i> PIREPS</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/ranks"){%> active" aria-current="page<%}%>" href="/admin/ranks"><i class="bi bi-person-lines-fill"></i> Ranks</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/routes"){%> active" aria-current="page<%}%>" href="/admin/routes"><i class="bi bi-arrow-down-up"></i> Routes</a></li>
                            <li><a class="dropdown-item <% if(active == "/admin/users"){%> active" aria-current="page<%}%>" href="/admin/users"><i class="bi bi-people"></i> Users</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item <% if(active == "/admin/settings"){%> active" aria-current="page<%}%>" href="/admin/settings"><i class="bi bi-gear"></i> Settings</a></li>
                        </ul>
                    </li>
                <%}%>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <% if(active == "/account"){%> active" aria-current="page<%}%>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="<%= user.profileURL%>" class="align-text-top rounded" style="height: 1.1em;">
                        <%= user.display%>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item <% if(active == "/account"){%> active" aria-current="page<%}%>" href="/account">Account</a></li>
                        <li><a class="dropdown-item" href="/report">Report a bug</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>