<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%- include("./components/head.ejs")%>
</head>

<body class="w-100 bg-light-light h-auto">
    <%- include("./components/nav.ejs")%>
        <div class="w-100 content bg-light-light px-5 pt-3" id="content">
            <h2>VA Stats</h2>
                <%if(false == true){%>
                    <div class="row mb-2 mt-3 w-100">
                        <div class="col text-center position-relative rounded text-light p-3 m-3 shadow tm-3 bg-blurple"
                            style="min-width: 200px;">
                            <label class="w-100 text-light-light"><i class="bi bi-clock"></i> Total Flight Hours</label><br><br>
                            <h1><%= (stats.totalHours / 60).toFixed(2) %> hours</h1>
                        </div>
                        <div class="col text-center position-relative rounded text-light p-3 m-3 shadow tm-3 bg-blurple"
                            style="min-width: 200px;">
                            <label class="w-100 text-light-light"><i class="bi bi-plus-circle"></i> Most Popular Route</label><br><br>
                            <h1>
                                <%= stats.popular.route %>
                            </h1>
                        </div>
                        <div class="col text-center position-relative rounded text-light p-3 m-3 shadow tm-3 bg-blurple"
                            style="min-width: 200px;">
                            <label class="w-100 text-light-light"><i class="bi bi-plus-circle"></i> Most Popular Aircraft</label><br><br>
                            <h1>
                                <%= stats.popular.aircraft %>
                            </h1>
                        </div>
                    </div>
                <%}%>
            <h2 class="mt-5">VA Fleet</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Livery</th>
                    </tr>
                </thead>
                <tbody>
                    <% fleet.forEach(craft=>{%>
                        <tr>
                            <th scope="row">
                                <%= craft.airName %>
                            </th>
                            <td>
                                <%= craft.livName %>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
            </div>
            <h2 class="mt-5">VA Routes</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Suggested Aircraft</th>
                        <th scope="col">Operator</th>
                    </tr>
                </thead>
                <tbody>
                    <% route.forEach(route=>{%>
                        <tr>
                            <th scope="row">
                                <%= route.name %>
                            </th>
                            <td>
                                <strong>COMING SOON</strong>
                            </td>
                            <td>
                                <strong>COMING SOON</strong>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/suncalc/1.8.0/suncalc.min.js"
            integrity="sha512-s40QuZdS5wcjdt2OHUWSGRCECWr+YqbvRSaiBpEKOlOsbePPvXreeOTB4SVteinFcc1RpW/uDueEsknm9iJl2g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
</body>

</html>