<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Events || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/styles/scroll.css">
    <link rel="stylesheet" href="assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <%- include("./components/nav.ejs")%>
    <div class="w-100 h-auto p-lg-5 p-2 text-center" id="content">
        <i class="display-1 bi bi-calendar-event"></i>
        <h1 class="display-2 mt-1">Events</h1>
        <br>
            <div class="h-auto w-75 w-sm-100 mx-auto" >
                <div class="w-100 h-auto p-5 container rounded-2 bg-light" id="eventsContainer">
                    <div class="row row-cols-1 row-cols-md-2">
                        <% events.forEach(item=>{ %>
                            <div class="rounded-3 col my-3 pt-3 px-5 pb-5 text-light bg-dark text-start eventsItems">
                                <h1 class="text-center">
                                    <%= item.title %>
                                </h1>
                                <hr color="white" class="text-light">
                                <p class="w-100 fs-6 text-start">
                                    <%= item.body %>
                                </p>
                                <h3>Event Details:</h3>
                                <hr>
                                <h4><i class="bi bi-arrow-up-right"></i> Departure:</h4>
                                <p class="fw-bold ms-3"><%= item.depAir %></p>
                                <h4><i class="bi bi-arrow-down-right"></i> Arrival:</h4>
                                <p class="fw-bold ms-3">
                                    <%= item.arrAir %>
                                </p>
                                <h4><i class="bi bi-exclude"></i> Aircraft:</h4>
                                <p class="fw-bold ms-3"><%= item.airName %></p>
                                <h4><i class="bi bi-globe2"></i> Server:</h4>
                                <p class="fw-bold ms-3">
                                    <%= item.server %>
                                </p>
                                <h4><i class="bi bi-clock"></i> Departure Time:</h4>
                                <p class="fw-bold ms-3">
                                    <%= item.depTime %>
                                </p>
                                <h3>Actions:</h3>
                                <hr>
                                <button class="btn btn-success text-start">Sign up</button>
                                <button class="btn btn-danger text-end">Pull out</button>
                            </div>
                            <% })%>
                            <% if(events.size==0){%> 
                                <h1 class="display-4">No events scheduled</h1>
                                <%}%>
                    </div>
                </div>
            </div>
    </div>
    <%- include("./components/dark.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
        <script>
            const times = Array.from(document.getElementsByClassName('loadInBTZ'));
            times.forEach(timeEl=>{
                const time = new Date(timeEl.innerHTML)
                timeEl.innerHTML = time.toString();
            })
        </script>
</body>

</html>